<div>
    <h3 class="game-player">
        <span>{{ game.opponent }}</span>
        <time-left class="pull-right label label-default" ng-if="game.enemy_time_left"
            ng-model="game.enemy_time_left" tickable="!yourTurn()"
            ng-class="{'label-info': !yourTurn()}" />
    </h3>
    <table class="board">
        <tr>
            <td></td>
            <td ng-repeat="x in coorsX" class="board-label-x">
                {{ x|letter }}
            </td>
            <td></td>
        </tr>
        <tr ng-repeat="y in coorsY">
            <td class="board-label-y">{{ y }}</td>
            <td ng-repeat="x in coorsX">
                <board-cell x="x" y="y"/>
            </td>
            <td class="board-label-y">{{ y }}</td>
        </tr>
        <tr>
            <td></td>
            <td ng-repeat="x in coorsX" class="board-label-x">
                {{ x|letter }}
            </td>
            <td></td>
        </tr>
    </table>
    <h3 class="game-player">
        <span>{{ user.username }}</span>
        <time-left class="pull-right label label-default" ng-if="game.time_left"
            ng-model="game.time_left" tickable="yourTurn()"
            ng-class="{'label-danger': yourTurn()}" />
    </h3>
</div>
