<div class="form-auth">
    <form class="well" name="form" ng-submit="submit()" novalidate>
        <div class="alert alert-danger" ng-show="error">
            <span>{{ error }}</span>
        </div>
        <div class="form-group">
            <label for="username">username</label>
            <input class="form-control" type="text" id="username" minlength=1 ng-model="model.username" required>
            <small ng-hide="model.username.length > 3">must be no less than 4 symbols</small>
        </div>
        <div class="form-group">
            <label for="email">email (optional)</label>
            <input class="form-control" type="email" id="email" ng-model="model.email">
            <small ng-hide="model.email">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                without email you cannot to recover your account if you forget password
            </small>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input class="form-control" type="password" id="password" minlength=1 ng-model="model.password" required>
            <small ng-hide="model.password.length > 7">must be no less than 8 symbols</small>
        </div>
        <div class="form-group">
            <label for="password2">confirm password</label>
            <input class="form-control" type="password" id="password2" minlength=1 ng-model="model.password2" required>
            <small ng-hide="model.password == model.password2">must be match password</small>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Create an account</button>
        <a class="pull-right" type="button" href="#/reset">Forgot password?</a>
    </form>
</div>
