/* app css stylesheet */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 10px;
}

.form-auth {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.board-label-x {
    width: 50px;
    height: 10px;
    text-align: center;
}

.board-label-y {
    width: 20px;
    height: 50px;
    text-align: center;
}

.board-cell {
    width: 50px;
    height: 50px;
    text-align: center;
    display: table;
}

.board-cell-white {
    background-color: #ffe8c6;
}

.board-cell-black {
    background-color: #866f4d;
}

.board-cell-white-hidden {
    background-color: #a0a0a0;
}

.board-cell-black-hidden {
    background-color: #868686;
}

.board-cell-selected {
    background-color: #69c389;
}

.board-cell-movable {
    background-color: #8bffb5;
}

.board-figure {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.pill-default>a {
    color: black;
    background-color: white;
}

.pill-info>a {
    color: white;
    background-color: #5bc0de;
}

.pill-success>a {
    color: white;
    background-color: #5cb85c;
}

.pill-warning>a {
    color: white;
    background-color: #f0ad4e;
}

.pill-danger>a {
    color: white;
    background-color: #d9534f;
}

.game-player {
    width: 430px;
}

.game-label {
    text-align: center;
    width: 430px;
}

.cut-figure {
    width: 25px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
} 

.chat-messages {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.label-block {
    display: block;
    margin-top: 3px;
}
