<div class="row">
    <div class="col-md-3">
        <games />
    </div>
    <div class="col-md-5" ng-if="gameId && gameId != '0'">
        <div ng-if="game.started_at">
            <div ng-if="game.ended_at" class="game-label alert" ng-class="{
                    'alert-success': end_reason == 'won',
                    'alert-danger': end_reason == 'lost',
                    'alert-warning': end_reason == 'draw',
                }">
                <h2 ng-if="end_reason == 'won'">
                    game is over - you won
                </h2>
                <h2 ng-if="end_reason == 'lost'">
                    game is over - you lost
                </h2>
                <h2 ng-if="end_reason == 'draw'">
                    game is over - draw
                </h2>
            </div>
            <game-board game="game" game-id="gameId" />
        </div>
        <div ng-if="!game.started_at">
            <div class="game-label alert alert-info">
                <h3 ng-hide="game.invite">waiting an opponent</h3>
                <div ng-show="game.invite">
                    <h5>Send this url to your friend to invite him:<h5>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            https://api.dark-chess.com/#/game/invited/{{ game.invite }}
                        </div>
                    </div>
                </div>
            </div>
            <game-board game="null" game-id="gameId" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default" ng-if="game.started_at && !game.ended_at">
            <div class="panel-body">
                <button class="btn btn-warning btn-block" ng-click="draw()">
                    draw
                </button>
                <br>
                <button class="btn btn-danger btn-block" ng-click="resign()">
                    resign
                </button>
            </div>
        </div>
    </div>
</div>
