<div>
    <new-game />
    <hr>
    <div class="panel panel-default" ng-show="games.wait.length > 0">
        <div class="panel-heading">not started games</div>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="id in games.wait" ng-class="{'active': id == gameId}">
                <a href="#/game/{{id}}">
                    {{ games.games[id].type }}
                    <span class="pull-right" ng-show="games.games[id].limit">
                        {{ games.games[id].limit|readableTime }}
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="panel panel-info" ng-show="games.actives.length > 0">
        <div class="panel-heading">active games</div>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="id in games.actives" ng-class="{'active': id == gameId}">
                <a href="#/game/{{id}}">
                    {{ games.games[id].opponent }}
                    <span class="pull-right">
                        <span ng-show="userTurn(games.games[id])">
                            <span ng-show="games.games[id].time_left">
                                {{ games.games[id].time_left|readableTime }}
                            </span>
                            <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>
                        </span>
                        <span ng-show="games.games[id].enemy_time_left && !userTurn(games.games[id])">
                            {{ games.games[id].enemy_time_left|readableTime }}
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="panel panel-default" ng-show="games.ended.length > 0">
        <div class="panel-heading">ended games</div>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="id in games.ended" ng-class="{'active': id == gameId}">
                <a href="#/game/{{id}}">
                    {{ games.games[id].opponent }}
                    <span class="label pull-right" ng-class="{
                        'label-success': games.games[id].result == 'you won',
                        'label-danger': games.games[id].result == 'you lost',
                        'label-warning': games.games[id].result == 'draw',
                    }">
                        {{ games.games[id].result }}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
